    * {
        margin: 0;
        padding: 0;
    }


    em {
        font-style: normal;
        text-decoration: none!important;
    }

    strong {
        font-style: normal;
        text-decoration: none!important;
    }

    body {
        background-color: black;
    }
    /*barre de navigation*/

    .navbar-fixed nav a img {
        width: 25%;
        padding-top: 1%;
        padding-left: 1%;
    }

    .navbar-fixed nav .namewebsite {
        padding-left: 11%;
        font-size: 25px;
        font-weight: bold;
    }

    .navbar-fixed nav ul li a {
        font-size: 16px;
        font-weight: bold;
    }

    .navbar-fixed nav .nav-wrapper .side-nav {
        background-color: black;
    }

    .navbar-fixed nav .nav-wrapper .side-nav li a {
        color: white;
    }
    /*fin de barre de navigation*/
    /*container page*/

    .container {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .container .row .container1 h1 {
        text-align: center;
        font-size: 12px;
        top: 0%;
        background-color: black;
        color: white;
        width: 100%;
        border-radius: 0px 0px 10px 10px;
        margin: 0
    }

    .container .row .container1, .container .row .container2 {
        border-left: 20px solid black;
        border-right: 10px solid black;
    }

    .container .row .container1 {
        border-bottom: 15px solid black;
        padding: 0;
    }
    /*fin de container page*/
    /*bloc 1*/

    .container .row .container1 {
        background-image: url(thierry_fond.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }

    .container .row .container1 .paragraphe1 {
        position: relative;
        top: 15%;
    }

    .container1 .paragraphe1 h2 {
        text-align: center;
        color: white;
        font-size: 35px;
        text-shadow: 1px 1px 1px black
    }

    .container1 .paragraphe1 p {
        text-align: justify;
        color: white;
        font-size: 19px;
        text-shadow: 1px 1px 1px black
    }
    /*fin de bloc1*/
    /*bloc 2 */

    .container .row .container2 {
        background-image: url(bulle.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }

    .container .row .container2 .paragraphe2 {
        position: relative;
        top: 15%;
    }

    .container2 .paragraphe2 h2 {
        text-align: center;
        color: white;
        font-size: 35px;
        text-shadow: 1px 1px 1px black
    }

    .container2 .paragraphe2 p {
        text-align: justify;
        color: white;
        font-size: 19px;
        text-shadow: 1px 1px 1px black;
    }
    /*fin de bloc 2*/
    /*debut de bloc 3*/

    .container .row .container3 {
        width: 100vw;
        height: 100vh;
    }

    .container .row .container3 h2 {
        color: white;
        text-align: center;
        font-size: 40px;
        padding-top: 3%;
        padding-bottom: 2%;
    }

    .container .row .container3 .coordonnee h4 {
        text-align: center;
        color: white;
    }

    .coordonnee .coordonnees {
        padding-top: 5%;
        padding-bottom: 37%;
    }

    .coordonnees .left {
        padding-left: 25%;
        color: white;
    }

    .container3 .heure tr td {
        color: white
    }

    .container3 .heure tr th {
        color: white;
        text-align: center;
    }

    .container3 .heure .align {
        text-align: center;
    }

    .tarifs table tr th, .tarifs table tr td, .tarifs p {
        color: white;
    }

    .tarifs table tr th {
        text-align: center;
    }

    .commentaire p {
        color: white;
        font-size: 12px;
        text-align: center;
        padding-top: 5%;
    }
    /*fin de bloc 3*/
    /*modal*/

    .mentions button {
        padding-left: 40%!important;
        color: white;
    }

    .mentions .modal .modal-content, .mentions .modal .modal-footer {
        background-color: black;
        color: white;
    }

    .mentions .modal .modal-content h4, .mentions .modal .modal-content h5 {
        text-align: center;
    }

    .mentions .modal .modal-content p {
        text-align: justify;
        font-size: 16px;
    }

    .mentions .modal .modal-content ol {
        margin-left: 5%;
        margin-right: 5%;
    }

    .mentions .modal .modal-content ol li ul {
        margin-left: 5%;
        margin-right: 5%;
    }

    .mentions .modal .modal-footer a {
        color: white;
    }
    /*fin de modal*/
    /*media query smartphone*/

    @media (min-width: 800px) and (max-width: 1000px) {
        .container .row .container1 .paragraphe1 {
            top: 1%;
            background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            border-radius: 15px;
        }
        .container .row .container2 .paragraphe2 {
            top: 65%;
            background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            border-radius: 15px;
        }
        .container1 .paragraphe1 p, .container .paragraphe2 p {
            font-size: 17px;
        }
        .coordonnee .coordonnees {
            padding-bottom: 20%;
        }
        .brand-logo {
            left: 26%!important;
        }
        .navbar-fixed nav .namewebsite {
            padding-left: 15%;
        }
    }

    @media (min-width: 600px) and (max-width: 800px) {
        .container .row .container1 .paragraphe1 {
            top: 0%;
            background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            border-radius: 15px;
        }
        .container .row .container2 .paragraphe2 {
            top: 0%;
            background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            border-radius: 15px;
        }
        .container1 .paragraphe1 p, .container .paragraphe2 p {
            font-size: 16px;
        }
        .coordonnee .coordonnees {
            padding-bottom: 20%;
        }
        .brand-logo {
            left: 33%!important;
        }
        .navbar-fixed nav .namewebsite {
            padding-left: 20%;
        }
    }

    @media (min-width: 400px) and (max-width: 600px) {
        .container .row .container1 .paragraphe1 {
            top: 1%;
            background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
            border-radius: 15px;
        }
        .container .row .container2 .paragraphe2 {
            top: 20%;
            background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
            border-radius: 15px;
        }
        .container1 .paragraphe1 p, .container .paragraphe2 p {
            font-size: 14px;
        }
        .coordonnee .coordonnees {
            padding-bottom: 20%;
        }
        .brand-logo {
            left: 35%!important;
        }
        .navbar-fixed nav .namewebsite {
            padding-left: 22%;
            font-size: 16px;
        }
    }

    @media (min-width: 300px) and (max-width: 400px) {
        .coordonnees .left {
            padding-left: 5%;
        }
        .container .row .container1 .paragraphe1 {
            top: 0%;
            background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
            border-radius: 15px;
        }
        .container .row .container2 .paragraphe2 {
            top: 5%;
            background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
            border-radius: 15px;
        }
        .container1 .paragraphe1 p, .container .paragraphe2 p {
            font-size: 14px;
        }
        .coordonnee .coordonnees {
            padding-bottom: 20%;
        }
        .brand-logo {
            left: 20%!important;
        }
        .brand-logo {
            left: 35%!important;
        }
        .navbar-fixed nav .namewebsite {
            padding-left: 22%;
            font-size: 14px;
            font-weight: normal;
        }
    }
    /*fin de media query smartphone*/
